@import url("https://unpkg.com/normalize.css") layer(normalize);
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Guardian+Text+Sans&display=swap");
@layer normalize, base, demo;

@layer demo {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
  }

  h1,
  p {
    margin: 0;
  }

  h1.fluid {
    --font-size-min: 22;
    --font-level: 4.25;
  }

  h3 {
    white-space: nowrap;
    margin: 0;
  }

  body > p {
    width: 74ch;
    max-width: calc(100% - 4rem);
    text-wrap: balance;
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 4rem;
    line-height: 1.5;
    opacity: 0.8;
    font-weight: 400;
  }

  li :is(svg, h3) {
    opacity: 0.6;
    transition: opacity calc(var(--speed) * 1.2) var(--easing);
  }

  li :is(a, p) {
    opacity: 0;
    transition: opacity calc(var(--speed) * 1.2) var(--easing);
    width: fit-content;
  }

  li img {
    /* filter: grayscale(0.2); */
    scale: 1.1;
    transition-property: filter, scale;
    transition-duration: calc(var(--speed) * 1.2);
    transition-timing-function: var(--easing);
  }

  [data-active="true"] :is(a, p, h3, svg) {
    opacity: var(--opacity, 1);
  }
  [data-active="true"] :is(a, p) {
    transition-delay: calc(var(--speed) * 0.25);
  }

  [data-active="true"] img {
    /* filter: grayscale(0); */
    scale: 1;
    transition-delay: calc(var(--speed) * 0.25);
  }
  /* Estilo cuando el article se activa (cuando se pasa el mouse) */
  [data-active="true"]:hover .hole1 {
    opacity: 0; /* Hace invisible hole 1 cuando el artículo está en hover */
    transition-delay: calc(
      var(--speed) * 0.1
    ); /* Espera para que la transición ocurra después de un pequeño retraso */
  }
  article {
    /*     outline: 2px dashed canvasText; */
    width: calc(var(--article-width) * 1px);
    height: 100%;
    position: absolute;
    font-family: "IBM Plex Sans", sans-serif;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding-inline: calc(var(--base) * 0.5 - 9px);
    padding-bottom: 1rem;
    overflow: hidden;
    /* Estilo para el agujero en la parte superior */
    article::before {
      content: "";
      position: absolute;
      top: 90px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px; /* Tamaño del agujero */
      height: 120px; /* Tamaño del agujero */
      border-radius: 50%;
      background-color: #333; /* Color del "agujero" */
      z-index: 10;
    }

    /* Estilo de los círculos */
    .hole {
      position: absolute;
      border-radius: 50%;
      background-color: #ffff;
      z-index: 10; /* Los círculos están por encima del contenido */
      opacity: 1; /* Opcional: ajusta la opacidad para que no sean totalmente opacos */
    }

    /* Primer agujero */
    .hole1 {
      width: 30px; /* Tamaño del primer agujero */
      height: 30px;
      top: 3%; /* Posición manual (ajústalo como desees) */
      left: 5%;
    }

    /* Segundo agujero */
    .hole2 {
      width: 130px; /* Tamaño del segundo agujero */
      height: 130px;
      top: 9%; /* Posición manual */
      left: 22%;
    }

    h3 {
      position: absolute;
      top: 60px;
      left: 35px;
      transform-origin: 0 50%;
      rotate: 90deg;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      font-family: "IBM Plex Sans", sans-serif;
      opacity: 1;
      font-weight: bold;
    }

    svg {
      width: 18px;
      fill: none;
    }

    p {
      font-size: 13px;
      text-wrap: balance;
      line-height: 1.25;
      width: 28ch;
      /*  margin-bottom: 50px; */
      --opacity: 1;
      align-text: center;
      margin-left: 20px;
    }

    a {
      position: absolute;
      bottom: 1rem;
      height: 18px;
      line-height: 1;
      color: inherit;

      &:is(:focus-visible, :hover) {
        outline: none;
        span {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }

      span {
        display: inline-block;
        line-height: 18px;
        translate: calc(var(--base) * 0.5);
        font-weight: 500;
      }
    }

    img {
      position: absolute;
      pointer-events: none;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mask: radial-gradient(180% 120% at 100% 0, #fff, #0000);
      z-index: 1;
    }
  }
  /* gotta use some Math on the container really */
  /* width is "ideal" 7 * 80px + 6 * gap + say 300px or whatever the ideal width is */
  :root {
    --gap: 8px;
    --base: clamp(2rem, 8cqi, 80px);
    --easing: linear(
      0 0%,
      0.1538 4.09%,
      0.2926 8.29%,
      0.4173 12.63%,
      0.5282 17.12%,
      0.6255 21.77%,
      0.7099 26.61%,
      0.782 31.67%,
      0.8425 37%,
      0.8887 42.23%,
      0.9257 47.79%,
      0.9543 53.78%,
      0.9752 60.32%,
      0.9883 67.11%,
      0.9961 75%,
      1 100%
    );
    --speed: 0.6s;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); /* Flexibilidad en el número de columnas */
    gap: var(--gap);
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    height: clamp(560px, 60dvh, 474px);
    width: calc(
      ((var(--items) - 1) * var(--base)) + ((var(--items) - 1) * var(--gap)) +
        var(--ideal)
    );
    width: 900px;
    max-width: calc(100% - 4rem);
    transition: grid-template-columns var(--speed) var(--easing);
  }
  li {
    /* outline: 4px dashed canvasText; */
    position: relative;
    overflow: hidden;
    min-width: var(--base);
    border-radius: 8px;
    border: 1px solid color-mix(in hsl, canvas, canvasText 50%);
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }

  [data-theme="dark"] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "IBM Plex Sans", sans-serif;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 70%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

/* Estilo responsive para pantallas pequeñas */
@media (max-width: 768px) {
  ul {
    display: grid !important;
    grid-template-columns: 1fr !important; /* Ajuste para una columna */
    gap: var(--gap);
    width: 90%; /* Asegúrate de que ocupe todo el ancho disponible */
    max-width: 100%; /* Asegura que no se rompa */
    height: 3500px;
  }

  li {
    height: 690px;
    margin-bottom: 20px;
  }

  .hole1 {
    opacity: 0;
  }

  .hole2 {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 40%;
  }
  p {
    text-align: center;
    font-size: 14px;
    text-wrap: balance;
    line-height: 1.5;
    /* width: 33.5ch; */
    /* margin-bottom: 90px; */
    --opacity: 0.9;
    margin: 0 auto; /* Centra el texto */
    /*padding-bottom: 5px;*/
  }

  h1 {
    text-align: center;
    margin: 0 auto; /* Centra el texto */
  }
}
